<div class="container">
    <div class="card" style="width: 400px;" class="m-3">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Case details</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">case file 1</li>
        <li class="list-group-item">case file 2</li>
        <li class="list-group-item">case file 3</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card list</a>
        <a href="#" class="card-link">Handled case</a>
      </div>
    </div>
    <div class="card" style="width: 400px;" classs="m-3">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">case details</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">case file 1</li>
        <li class="list-group-item">case file 2</li>
        <li class="list-group-item">case file 3</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Case list</a>
        <a href="#" class="card-link">Handled case</a>
      </div>
    </div>
  </div> 
